.messaging__wrap {
  @extend .client__wrap;
}
.messaging-main-pane {
  @extend .client__mes;
}
.chat-region {
  @extend .client-details-region;
}
.chat-members-header {
  margin-bottom: 40px;
  display: flex;
  display: -webkit-flex;
  .clients__search-docs {
    max-width: 340px;
  }
}
.messaging-client-name {
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  margin-left: 5px;
  vertical-align: sub;
}
.chat-members {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  padding-right: 40px;
}
.chat-member {
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
}
