$pink-400:     #ff6890;
$pink-500:     #f55deb;

$turquise-400: #07c8da; // #04c7d9 #1cccdc

$blue-400:     #2e90e5;
$blue-600:     #257596;
$blue-700:     #04c7d9;
$blue-800:     #005377;

$purple-grey:  #8c8084;
$icon-grey:    #8b797d;

$grey-100:     #fafafa;
$grey-150:     #f7f5f6;
$grey-300:     #e8eced;
$grey-400:     #e6e4e4;
$grey-450:     #dbdbdb;
$grey-500:     #ccc7c8;
$grey-600:     #b4a9ab;
$grey-800:     #a4a4a4;
$grey-750:     #a29b88;
$grey-900:     #979797;

$brown-400:    #694a51;
$brown-500:    #676767;
$brown-600:    #555555;
$brown-700:    #423c3e;
$brown-800:    #421a24;

$black-400:    #231f20;

$yellow-500:   #ffc30d;

$green-200:    #c5e545;
$green-400:    #4cd864;

$aqua-400:     #21d9a8;

$red-400:      #e53950;

$orange-500:   #ff9d4d;

$grey-blue: #8190A7;
$light-grey-blue: #9197A0;
