= render 'stubs/partials/header'
%main.main-container
  .client__wrap
    = render 'stubs/partials/clients/client_nav'
    .client__docs
      .client__content-header.clearfix
        .client__breadcrumbs
          .client__breadcrumbs-item
            %a.client__breadcrumbs-item-link(href="#") All Documents
          .client__breadcrumbs-item
            %a.client__breadcrumbs-item-text Personal Taxes
        .clients__search
          %i.clients__search-icon.icon.icon-search
          %input.clients__search-input(type="text" placeholder="Find by Document Name, Type")
      
      %table.client__docs-list

        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          / %td.client__docs-cell.client__docs-li-title
          /   %p.client__docs-li-text
          /   Business Loan Agreement
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          / %td.client__docs-cell.client__docs-li-title
          /   %p.client__docs-li-text
          /     W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          / %td.client__docs-cell.client__docs-li-title
          /   %p.client__docs-li-text
          /     W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          / %td.client__docs-cell.client__docs-li-title
          /   %p.client__docs-li-text
          /     W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          / %td.client__docs-cell.client__docs-li-title
          /   %p.client__docs-li-text
          /     W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          / %td.client__docs-cell.client__docs-li-title
          /   %p.client__docs-li-text
          /     W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
      
      .hor-separator

      .client__documents-categories.client-container
        .client-row.clearfix
          .client__documents-category-wrapper.grid-item
            %a.client__documents-category-content(href="#")
              .category-icon
                %i.icon.icon-user
              %p.category-title Identity
              %p.category-count 5
          .client__documents-category-wrapper.grid-item
            %a.client__documents-category-content(href="#")
              .category-icon
                %i.icon.icon-creditcard
              %p.category-title FINANCIAL
              %p.category-count 15
          .client__documents-category-wrapper.grid-item
            %a.client__documents-category-content(href="#")
              .category-icon
                %i.icon.icon-personal
              %p.category-title PERSONAL TAXES
              %p.category-count 18
          .client__documents-category-wrapper.grid-item
            %a.client__documents-category-content(href="#")
              .category-icon
                %i.icon.icon-business
              %p.category-title BUSINESS TAXES
              %p.category-count 27
          .client__documents-category-wrapper.grid-item
            %a.client__documents-category-content(href="#")
              .category-icon
                %i.icon.icon-booth
              %p.category-title BUSINESS OPERATIONS
              %p.category-count 8
          .client__documents-category-wrapper.grid-item
            %a.client__documents-category-content(href="#")
              .category-icon
                %i.icon.icon-handout
              %p.category-title BUSINESS INVOICES
              %p.category-count 209
          .client__documents-category-wrapper.grid-item
            %a.client__documents-category-content(href="#")
              .category-icon
                %i.icon.icon-notepad
              %p.category-title BUSINESS CERTIFICATES
              %p.category-count 6
          .client__documents-category-wrapper.grid-item
            %a.client__documents-category-content(href="#")
              .category-icon
                %i.icon.icon-notepad
              %p.category-title MISCELLANEOUS
              %p.category-count 11



= render 'stubs/partials/footer'
