.modal.fade.in.modal-attached-files
  .modal-dialog(style="width: 810px;")
    .modal-content
      .custom-modal
        .modal-header
          %button.close(type="button")
            %span &times;
          %h4.modal-title Assign to client
          .uploaded-files-count
            %span 3 files selected
        .modal-body
          .docs-table-wrapper
            %table.docs-table
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-pink-400
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Chase Lockman
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action chase.lockman@email.com
                  %span.clients__client-action
                    1 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    18 documents
                    %i.clients__client-action-icon.icon.icon-files
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-orange-500
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Elicia Petroscky
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action
                    2 messages
                    %i.clients__client-action-icon.icon.icon-comments
                  %span.clients__client-action
                    1 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    0 documents
                    %i.clients__client-action-icon.icon.icon-files
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-aqua-400
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Guarav Jain
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action
                    23 messages
                    %i.clients__client-action-icon.icon.icon-comments
                  %span.clients__client-action
                    16 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    2 documents
                    %i.clients__client-action-icon.icon.icon-files
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-green-200
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Jarrett Ferrel
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action
                    2 messages
                    %i.clients__client-action-icon.icon.icon-comments
                  %span.clients__client-action
                    1 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    0 documents
                    %i.clients__client-action-icon.icon.icon-files
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-blue-400
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Kathryn Elliot
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action
                    12 messages
                    %i.clients__client-action-icon.icon.icon-comments
                  %span.clients__client-action
                    12 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    18 documents
                    %i.clients__client-action-icon.icon.icon-files
                    %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-pink-400
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Chase Lockman
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action chase.lockman@email.com
                  %span.clients__client-action
                    1 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    18 documents
                    %i.clients__client-action-icon.icon.icon-files
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-orange-500
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Elicia Petroscky
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action
                    2 messages
                    %i.clients__client-action-icon.icon.icon-comments
                  %span.clients__client-action
                    1 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    0 documents
                    %i.clients__client-action-icon.icon.icon-files
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-aqua-400
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Guarav Jain
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action
                    23 messages
                    %i.clients__client-action-icon.icon.icon-comments
                  %span.clients__client-action
                    16 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    2 documents
                    %i.clients__client-action-icon.icon.icon-files
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-green-200
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Jarrett Ferrel
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action
                    2 messages
                    %i.clients__client-action-icon.icon.icon-comments
                  %span.clients__client-action
                    1 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    0 documents
                    %i.clients__client-action-icon.icon.icon-files
              %tr.docs-item
                %td
                  .clients__client-status.clients__client-cell
                    %i.clients__client-status-icon.icon.icon-smile.in-blue-400
                  .clients__client-name.clients__client-cell
                    %span.clients__client-name-text
                      Kathryn Elliot
                %td.clients__client-right.clients__client-cell
                  %span.clients__client-action
                    12 messages
                    %i.clients__client-action-icon.icon.icon-comments
                  %span.clients__client-action
                    12 workflow
                    %i.clients__client-action-icon.icon.icon-lists
                  %span.clients__client-action
                    18 documents
                    %i.clients__client-action-icon.icon.icon-files

        .modal-footer
          %a.modal-link-btn.cancel-link(href="#") Cancel
          %a.modal-link-btn.step-link(href="#") Back
          %button.main-btn.bg-turquise-400(type="button") Next