= render 'stubs/partials/header'
%main.main-container
  .client__wrap
    = render 'stubs/partials/clients/client_nav'
    .client__docs
      .client__content-header.clearfix
        .client__breadcrumbs
          .client__breadcrumbs-item
            %a.client__breadcrumbs-item-link(href="#") All Documents
          .client__breadcrumbs-item
            %a.client__breadcrumbs-item-text Personal Taxes
        .clients__search
          %i.clients__search-icon.icon.icon-search
          %input.clients__search-input(type="text" placeholder="Find by Document Name, Type")
      
      %table.client__docs-list

        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          %td.client__docs-cell.client__docs-li-title
            %p.client__docs-li-text
              Business Loan Agreement
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          %td.client__docs-cell.client__docs-li-title
            %p.client__docs-li-text
              W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          %td.client__docs-cell.client__docs-li-title
            %p.client__docs-li-text
              W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          %td.client__docs-cell.client__docs-li-title
            %p.client__docs-li-text
              W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          %td.client__docs-cell.client__docs-li-title
            %p.client__docs-li-text
              W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan
        %tr.client__docs-li
          %td.client__docs-cell.client__docs-li-type
            %i.client__docs-li-type-icon.icon.icon-document
          %td.client__docs-cell.client__docs-li-title
            %p.client__docs-li-text
              W-2
          %td.client__docs-cell.client__docs-li-main-title
            %p.client__docs-li-text-secondary
              ORIGINAL FILENAME.PDF
          %td.client__docs-cell.client__docs-li-date
            %p.client__docs-li-text-secondary
              4 Months Old
          %td.client__docs-cell.client__docs-li-actions
            %i.actions__main-icon.actions__icon.icon.icon-dots
            .actions__icons-list
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-message
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-magic-wand
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-bigger
              %a.actions__icon(href="#" data-tooltip="Message")
                %i.icon.icon-trashcan





= render 'stubs/partials/footer'
