= render 'stubs/partials/header'
%main.main-container
  .login-form-wrap
    -# = render 'stubs/partials/forms/login_sign_up'
    = render 'stubs/partials/forms/login_sign_in'
    -# = render 'stubs/partials/forms/login_cell_phone'
    -# = render 'stubs/partials/forms/login_cell_confirm'

= render 'stubs/partials/footer'
