.modal.fade.in.modal-upload-files
  .modal-dialog
    .modal-content
      .custom-modal
        .modal-header
          %button.close(type="button")
            %span &times;
          %h4.modal-title Categorize Documents
          %p.modal-user-name Katherine Eliott
          .uploaded-files-count
            %span Uploading 2 of 9
        .modal-body
          .upload-files-wrapper

            .upload-file-item
              .upload-file-name-icon
                %span.color-icon.icon-pdf-file
                %span.upload-file-name 8pywu8artskueaioec18jidh735vcbog9izw9jioz6m40qvypv
              .category-size-wrapper
                %input.file-category(type="text")
              .upload-file-status.upload-done
                %span.color-icon.icon-verified
                .upload-file-statusbar
                  .file-status-line(style='width:50%')

            .upload-file-item
              .upload-file-name-icon
                %span.color-icon.icon-photo-file
                %span.upload-file-name Emp_W2_Katherine.png
              .category-size-wrapper
                %input.file-category(type="text")
              .upload-file-status.upload-done
                %span.color-icon.icon-verified
                .upload-file-statusbar
                  .file-status-line(style='width:33%')

            .upload-file-item
              .upload-file-name-icon
                %span.color-icon.icon-xls-file
                %span.upload-file-name Emp_W2_Katherine.xls
              .category-size-wrapper
                %input.file-category(type="text")
              .upload-file-status.upload-done
                %span.color-icon.icon-verified
                .upload-file-statusbar
                  .file-status-line(style='width:15%')

            .upload-file-item
              .upload-file-name-icon
                %span.color-icon.icon-doc-file
                %span.upload-file-name Emp_W2_Katherine.doc
              .category-size-wrapper
                %input.file-category(type="text")
              .upload-file-status.upload-done
                %span.color-icon.icon-verified
                .upload-file-statusbar
                  .file-status-line(style='width:15%')

            .upload-file-item
              .upload-file-name-icon
                %span.color-icon.icon-doc-file
                %span.upload-file-name Emp_W2_Katherine.doc
              .category-size-wrapper
                %input.file-category(type="text")
              .upload-file-status.upload-done
                %span.color-icon.icon-verified
                .upload-file-statusbar
                  .file-status-line(style='width:15%')

            .upload-file-item
              .upload-file-name-icon
                %span.color-icon.icon-doc-file
                %span.upload-file-name Emp_W2_Katherine.doc
              .category-size-wrapper
                %input.file-category(type="text")
              .upload-file-status.upload-done
                %span.color-icon.icon-verified
                .upload-file-statusbar
                  .file-status-line(style='width:15%')

            .upload-file-item
              .upload-file-name-icon
                %span.color-icon.icon-doc-file
                %span.upload-file-name Emp_W2_Katherine.doc
              .category-size-wrapper
                %input.file-category(type="text")
              .upload-file-status.upload-done
                %span.color-icon.icon-verified
                .upload-file-statusbar
                  .file-status-line(style='width:15%')

            .upload-file-item
              .upload-file-name-icon
                %span.color-icon.icon-doc-file
                %span.upload-file-name Emp_W2_Katherine.doc
              .category-size-wrapper
                %input.file-category(type="text")
              .upload-file-status.upload-done
                %span.color-icon.icon-verified
                .upload-file-statusbar
                  .file-status-line(style='width:15%')

        .modal-footer
          %a.modal-link-btn.cancel-link(href="#") Cancel
          %a.modal-link-btn.step-link(href="#") Back
          %button.main-btn.bg-turquise-400(type="button") Next
