.login-form--cell-phone {
  max-width: 550px;
}
.login-form__cell-phone-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 45px;
}
.login-form__cell-phone-form {
  max-width: 300px;
}
.login-form__cell-phone-foot-btn {
  min-width: 50%;
}
