.client-detail-photos {
  margin-bottom: 40px;
}
.client-detail-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}
.client-family-members-wrapper {
  display: inline-block;
  margin-left: 25px;
}
.client-family-images {
  margin-bottom: 5px;
}
.client-family-image {
  float: left;
  margin-right: 10px;
  img {
    width: 30px;
    height: 30px;
  }
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  color: $grey-500;
  font-size: 30px;
}
.client-family-count {
  color: $icon-grey;
  line-height: 17px;
}
.client-detail-info {
  margin-bottom: 50px;
}
.client-detail-info-col {
  display: inline-block;
  vertical-align: top;
  &.first-col {
    margin-right: 145px;
  }
  &.third-col {
    margin-left: 145px;
  }
}
.client-detail-info-title {
  min-width: 100px;
  text-align: right;
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  color: $purple-grey;
  text-transform: uppercase;
  margin-right: 15px;
  white-space: nowrap;
}
.client-detail-info-value {
  display: inline-block;
  font-size: 15px;
  line-height: 30px;
  color: $brown-700;
  a {
    color: $blue-700;
    text-decoration: none;
  }
}
.clients-detail-tabs-wrapper {
  margin-bottom: 80px;
}
.clients-tabs-header {
  margin-bottom: 40px;
  border-bottom: 0;
  .client-tab {
    a {
      border: none;
      text-decoration: none;
      color: $blue-700;
      font-size: 15px;
      font-weight: 500;
      padding: 5px 0;
      margin-right: 30px;
      &:hover {
        background-color: transparent;
      }
    }
    &.active {
      a, a:hover, a:focus {
        border-width: 0 0 4px 0;
        border-color: $pink-400;
        color: $blue-700;
        background-color: transparent;
      }
    }
  }
}
#invited-text{
  display: block;
  text-align: center;
}
