%footer.footer
  .footer__content
    %nav.footer__nav
      .footer__nav-list
        %h2.footer__nav-list-title
          Family
        %ul
          %li
            %a.footer__nav-li-link(href="#")
              Disaster Proof
          %li
            %a.footer__nav-li-link(href="#")
              Family Sharing
          %li
            %a.footer__nav-li-link(href="#")
              Service Provider Lookup
          %li
            %a.footer__nav-li-link(href="#")
              Workflows
      .footer__nav-list
        %h2.footer__nav-list-title
          Service Providers
        %ul
          %li
            %a.footer__nav-li-link(href="#")
              Client Management
          %li
            %a.footer__nav-li-link(href="#")
              Messaging
          %li
            %a.footer__nav-li-link(href="#")
              Analytics
          %li
            %a.footer__nav-li-link(href="#")
              Pricing
      .footer__nav-list
        %h2.footer__nav-list-title
          Security
        %ul
          %li
            %a.footer__nav-li-link(href="#")
              Data Security
          %li
            %a.footer__nav-li-link(href="#")
              Compliance
          %li
            %a.footer__nav-li-link(href="#")
              Privacy Policy
          %li
            %a.footer__nav-li-link(href="#")
              Terms of Use
      .footer__nav-list
        %h2.footer__nav-list-title
          About Us
        %ul
          %li
            %a.footer__nav-li-link(href="#")
              Company
          %li
            %a.footer__nav-li-link(href="#")
              Team
          %li
            %a.footer__nav-li-link(href="#")
              Testimonials
          %li
            %a.footer__nav-li-link(href="#")
              Contact
    .footer__right
      .footer__subscribe
        %h3.footer__right-title
          Subscribe
        .footer__subscribe-input-wrap.main-input__wrap
          .relative
            %input.footer__subscribe-input.main-input(type="text")
          %p.main-input__hint.in-red-400
            Password doesn't match
        %button.footer__subscribe-submit.main-btn.bg-turquise-400(type="submit")
          %span.footer__subscribe-submit-icon
      .footer__socials
        %h3.footer__right-title
          Follow Us
        %a.footer__socials-icon.icon.icon-facebook(href="#")
        %a.footer__socials-icon.icon.icon-twitter(href="#")
        %a.footer__socials-icon.icon.icon-linkedin(href="#")
